@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));

@theme {
  --color-win-blue: #0078D7;
  --color-win-dark: #1f1f1f;
  --color-win-darker: #121212;
  --color-win-light: #f3f4f6;
}

.cmd-font { font-family: 'Consolas', 'Monaco', 'Courier New', monospace; }
.toast {
    visibility: hidden;
    min-width: 250px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 4px;
    padding: 16px;
    position: fixed;
    z-index: 50;
    left: 50%;
    bottom: 30px;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s, bottom 0.3s;
}
.toast.show {
    visibility: visible;
    opacity: 1;
    bottom: 50px;
}
